.comparison-scrubber {
}

.comparator {
	position: relative;
	overflow: hidden;
	cursor: ew-resize;

	img {
		width: 100%;
		display: block;
	}

	.resize {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		max-width: 50%;
		background-size: auto 100%;
		overflow: hidden;
		z-index: 2;
		background-color: #fff;
	}

	.handle {
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		width: 0;
		border: 2px solid #fff;
		z-index: 2;

		&:after {
			content: svg_url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width=".5"><polyline points="9 16 6 12 9 8"/><polyline points="15 8 18 12 15 16"/></svg>');
			position: absolute;
			top: 50%;
			left: 50%;
			width: 3em;
			height: 3em;
			background: $color-secondary;
			border: 2px solid #fff;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			transition: transform .3s ease, background-color .3s ease;
			box-shadow: 0 2px 6px rgba(0,0,0,.3);
		}
	}

	.draggable:after {
		transform: translate(-50%, -50%) scale(1.2);
		background-color: $color-primary;
	}

	&.triggered {
		.resize {
			transition: max-width 3s ease-in-out;
		}

		.handle {
			transition: left 3s ease-in-out;
		}
	}
}

.comparison-sets {
	overflow: hidden; // I don't know why this is causing horizontal scroll in Edge, but I do know that this fixes it....
	flex-wrap: nowrap;

	img {
		line-height: 0;
	}

	li {
		padding: 0 .75em 1.5em;
		flex: 0 1 auto;
		position: relative;
		cursor: pointer;

		&:after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: scaleX(0) translateX(-50%);
			transform-origin: center left;
			width: 66.67%;
			height: 2px;
			background-color: $color-secondary;
			transition: transform .1s linear;
		}

		&.active:after {
			transform: scaleX(1) translateX(-50%);
		}
	}

}

@media (min-width: 50em){
	.comparator {
		&:after {
			content: "Before";
			position: absolute;
			bottom: 1em;
			right: 1em;
			color: $color-tonal;
			font-size: 3em;
			font-weight: 700;
		}

		.resize {
			&:after {
				content: "After";
				position: absolute;
				left: 1em;
				bottom: 1em;
				color: $color-tonal;
				font-size: 3em;
				font-weight: 700;
			}
		}
	}
}
